/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
	--qpeofw-main-color: #000;
	--qpeofw-required-option-color: #ff0000;
	--qpeofw-form-border-color: #e1e1e1;
	--qpeofw-radio-buttons-color: #000;
	--qpeofw-radio-buttons-color-inactive: #ccc;
	--qpeofw-form-border-active-color: #000;
	--qpeofw-label-font-size: 14px;
	--qpeofw-price-font-size: 13px;
	--qpeofw-additional-text-color: #7C7C7C;
	--qpeofw-description-font-size: 13px;
	--qpeofw-checkbox-radius-style: 2px;
	--qpeofw-color-swatch-size: 17px;
	--qpeofw-color-swatch-style: 0;
	--qpeofw-upload-file-background-color: #fcfcfc;
	--qpeofw-upload-file-border-color: #7c7c7c;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Select2
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Grid variables
   ========================================================================== */
/* ==========================================================================
   Various color variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Button mixins - start
   ========================================================================== */
/* ==========================================================================
   Button mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Animation mixins - start
   ========================================================================== */
/* ==========================================================================
   Animation mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Global styles - begin
   ========================================================================== */
*[class*="qpeofw-"] {
	box-sizing: border-box;
}

.woocommerce.single-product .wp-block-add-to-cart-form {
	width: 100%;
}

.woocommerce.single-product form.cart,
.woocommerce.single-product .woocommerce-variation-add-to-cart {
	display: block !important;
}

#qpeofw-total-price-table {
	text-align: left;
	margin-top: 15px;
	margin-left: -5px;
}

#qpeofw-total-price-table table {
	width: auto;
}

.qpeofw-block .qpeofw-addon .qpeofw-addon-label {
	display: initial;
	margin: 0;
}

.qpeofw-block .qpeofw-addon .qpeofw-addon-header {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.qpeofw-block .qpeofw-addon .qpeofw-addon-header .qpeofw-title-image {
	max-width: 115px;
	padding: 15px 0;
}

.qpeofw-block .qpeofw-addon .qpeofw-options {
	--qpeofw-columns: 1;
	--qpeofw-gap: 12px;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-flex {
	display: flex;
	flex-wrap: wrap;
	gap: var(--qpeofw-gap);
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--qpeofw-columns), minmax(0, 1fr));
	gap: var(--qpeofw-gap);
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--1 {
	--qpeofw-columns: 1;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--2 {
	--qpeofw-columns: 2;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--3 {
	--qpeofw-columns: 3;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--4 {
	--qpeofw-columns: 4;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--5 {
	--qpeofw-columns: 5;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--6 {
	--qpeofw-columns: 6;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--7 {
	--qpeofw-columns: 7;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--8 {
	--qpeofw-columns: 8;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--9 {
	--qpeofw-columns: 9;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--10 {
	--qpeofw-columns: 10;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--11 {
	--qpeofw-columns: 11;
}

.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-col-num--12 {
	--qpeofw-columns: 12;
}

@media (max-width: 1512px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 1512px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 1512px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1512--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 1368px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1368--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 1200px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1200--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 1024px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--1024--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 880px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--880--12 {
		--qpeofw-columns: 12;
	}
}

@media (max-width: 680px) {
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--1 {
		--qpeofw-columns: 1;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--2 {
		--qpeofw-columns: 2;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--3 {
		--qpeofw-columns: 3;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--4 {
		--qpeofw-columns: 4;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--5 {
		--qpeofw-columns: 5;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--6 {
		--qpeofw-columns: 6;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--7 {
		--qpeofw-columns: 7;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--8 {
		--qpeofw-columns: 8;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--9 {
		--qpeofw-columns: 9;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--10 {
		--qpeofw-columns: 10;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--11 {
		--qpeofw-columns: 11;
	}
	.qpeofw-block .qpeofw-addon .qpeofw-options.qpeofw-grid.qpeofw-adjust-grid.qpeofw-col-num--680--12 {
		--qpeofw-columns: 12;
	}
}

.qpeofw-block .qpeofw-addon .qpeofw-option {
	position: relative;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-above .qpeofw-option-container, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-under .qpeofw-option-container, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-above .qpeofw-option-container .qpeofw-image-container,
.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-above .qpeofw-option-container .qpeofw-addon-label, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-under .qpeofw-option-container .qpeofw-image-container,
.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-under .qpeofw-option-container .qpeofw-addon-label, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-image-container,
.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label, .qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-image-container,
.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label {
	margin: 0;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container {
	align-items: center;
	flex-direction: row;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container {
	align-items: center;
	flex-direction: row;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label.qpeofw-position-under .qpeofw-option-container {
	flex-direction: column;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-label {
	margin: 0;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 50;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip .qpeofw-tooltip-text {
	background-color: #666666;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 7px;
	font-size: smaller;
	position: absolute;
	left: 0;
	bottom: 0;
	white-space: nowrap;
	display: block;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip .qpeofw-tooltip-text:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #666666;
	margin-left: -7px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: -7px;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip.qpeofw-position-bottom {
	top: 100%;
	bottom: initial;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip.qpeofw-position-bottom .qpeofw-tooltip-text {
	margin: 7px 0 0 0;
	top: 100%;
	bottom: initial;
}

.qpeofw-block .qpeofw-addon .qpeofw-option .qpeofw-tooltip.qpeofw-position-bottom .qpeofw-tooltip-text:after {
	top: -7px;
	bottom: initial;
	border-top: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #666666;
}

.qpeofw-block .qpeofw-addon .qpeofw-option:hover .qpeofw-tooltip .qpeofw-tooltip-text {
	opacity: 1;
}

.qpeofw-block .qpeofw-addon.qpeofw--toggle {
	width: auto;
}

.qpeofw-block .qpeofw-addon.qpeofw--toggle .qpeofw-addon-header {
	position: relative;
	cursor: pointer;
	padding-right: 25px;
	border-bottom: 1px solid #707070;
}

.qpeofw-block .qpeofw-addon.qpeofw--toggle .qpeofw-addon-header > svg {
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
}

.qpeofw-block .qpeofw-addon.qpeofw--toggle .qpeofw-options-container {
	margin-top: 15px;
}

.qpeofw-block .qpeofw-addon.qpeofw--toggle .qpeofw-options-container.qpeofw--default-closed {
	display: none;
}

.qpeofw-block .qpeofw-addon:not(.qpeofw-addon-type-label) .qpeofw-option .qpeofw-image {
	display: block;
}

.qpeofw-block .qpeofw-addon:not(.qpeofw-addon-type-label) .qpeofw-option .qpeofw-image img {
	max-width: 100%;
	max-height: 200px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-option-image {
	flex-shrink: 0;
	margin-bottom: 10px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-left, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right {
	display: flex;
	align-items: flex-start;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-select-content, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-select-content {
	margin-top: 6px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-image, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-image {
	margin: 0 20px 0 0;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-image img, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-image img {
	max-height: 100px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-description, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-description {
	margin: 0;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-options-container .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-image {
	margin: 0 0 0 20px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-select .qpeofw-option-image img {
	max-width: 100%;
	max-height: 200px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container {
	margin: 0;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-radio-button-container, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-radio-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text {
	padding-left: 4px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label {
	flex-direction: row-reverse;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-radio .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text {
	padding-left: 0;
	padding-right: 4px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container {
	margin: 0;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-checkbox-button-container, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-checkbox-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text {
	padding-left: 4px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-left .qpeofw-option-container .qpeofw-addon-label .qpeofw-image img, .qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label .qpeofw-image img {
	max-height: 25px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label {
	flex-direction: row-reverse;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-checkbox .qpeofw-option .qpeofw-label.qpeofw-position-right .qpeofw-option-container .qpeofw-addon-label .qpeofw-addon-label-text {
	padding-left: 0;
	padding-right: 4px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-text .qpeofw-option .qpeofw-input-text-container {
	margin-top: 8px;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-html-separator .qpeofw-html-separator {
	margin: 20px 0;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-html-separator .qpeofw-html-separator.qpeofw-solid-border {
	border-bottom-style: solid;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-html-separator .qpeofw-html-separator.qpeofw-double-border {
	border-bottom-style: double;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-html-separator .qpeofw-html-separator.qpeofw-dotted-border {
	border-bottom-style: dotted;
}

.qpeofw-block .qpeofw-addon.qpeofw-addon-type-html-separator .qpeofw-html-separator.qpeofw-dashed-border {
	border-bottom-style: dashed;
}

.qpeofw-block .qpeofw-addon:not(.qpeofw--empty-title).qpeofw--toggle .qpeofw-addon-title {
	display: flex;
	column-gap: 10px;
	margin-bottom: 25px;
}
